includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - governance-guardrails.php
        - governance-guardrails/
    excludePaths:
        - governance-guardrails/governance-guardrails-config.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    ignoreErrors:
        - '#Constructor of class GovGuard\\Modules\\[A-Za-z_]+ has an unused parameter \$config#'
    reportUnmatchedIgnoredErrors: false
